

.promise[data-v-d44b3e60] {
	text-align: center;
	padding: 30px 0 160px;
	background: #fff
}

.promise .marginAt[data-v-d44b3e60] {
	width: 1140px;
	margin: 0 auto
}

.promise h1[data-v-d44b3e60] {
	font-size: 30px;
	margin-bottom: 15px;
	position: relative;
	color: #333;
	border-bottom: 1px solid #ccc;
	text-align: center
}

.promise h1[data-v-d44b3e60]:after {
	clear: both;
	content: "";
	display: block;
	width: 125px;
	height: 3px;
	background: #3c59db;
	margin-top: 15px;
	margin-bottom: -2px;
	margin-left: auto;
	margin-right: auto;
}

.promise .promise-main[data-v-d44b3e60] {
	margin: 40px auto
}

.promise .promise-main #pricing-table[data-v-d44b3e60] {
	margin: 30px auto;
	text-align: center
}

.promise .promise-main #pricing-table[data-v-d44b3e60]::after {
	content: "";
	display: block;
	clear: both;
}

.promise .promise-main #pricing-table .plan[data-v-d44b3e60] {
	font: 14px Lucida Sans, trebuchet MS, Arial, Helvetica;
	background: #fea429;
	border: 1px solid #ddd;
	color: #333;
	padding: 20px;
	width: 170px;
	float: left;
	position: relative;
	margin-right: 20px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

.promise .promise-main #pricing-table .plan[data-v-d44b3e60]:hover {
	z-index: 2;
	top: -13px;
	border-width: 3px;
	padding: 30px 20px;
	border-radius: 5px;
	-webkit-box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);
	box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15)
}

.promise .promise-main #pricing-table .plan[data-v-d44b3e60] {
	border-radius: 5px
}

.promise .promise-main #pricing-table h3[data-v-d44b3e60] {
	font-size: 20px;
	font-weight: 400;
	padding: 20px;
	margin: -20px -20px 50px;
	background-color: #eee;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
	background-image: linear-gradient(#fff, #eee)
}

.promise .promise-main #pricing-table .plan:hover h3[data-v-d44b3e60] {
	background-color: #ddd;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ddd));
	background-image: linear-gradient(#eee, #ddd);
	margin-top: -30px;
	padding-top: 30px;
	border-radius: 0 0 5px 5px
}

.promise .promise-main #pricing-table .plan h3[data-v-d44b3e60] {
	border-radius: 3px 3px 5px 5px
}

.promise .promise-main #pricing-table h3 span[data-v-d44b3e60] {
	display: block;
	font: 700 15px/90px Georgia, Serif;
	color: #777;
	background: #fff;
	border: 5px solid #fff;
	height: 100px;
	width: 100px;
	margin: 10px auto -65px;
	border-radius: 100px;
	-webkit-box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
	box-shadow: inset 0 5px 20px #ddd, inset 0 3px 0 #999
}

.promise .promise-main #pricing-table ul {
	margin: 20px 0 0;
	padding: 0;
	list-style: none
}

.promise .promise-main #pricing-table li {
	border-top: 1px solid #ddd;
	padding: 10px 0;
	color: #fff
}

.promise .promise-main #pricing-table li b {
	font: 700 15px/20px Georgia, Serif
}
.promise .promise-main #pricing-table li p{
	margin: 0px;
}